<h1>
  Interpolation</h1>
<hr>
<div>String {{myName}}</div>
<div>
  Square of 3 is {{3*3}}
</div>
<div>
  Cube of 2 is {{cube(2)}}
</div>
<div>
  Two twos are {{ 2 * 2 === 4 ? 'four' : 'else' }}
</div>

<div>
  <input type="button" value="{{btnOkay}}" class="btn btn-primary">
</div>

<hr>
<div> Property Binding</div>
<hr>
<div>
  <app-property-binding></app-property-binding>
</div>

<div>
  <app-event-binding></app-event-binding>
</div>
<div>
  Two Way Binding
  <div>
    <input type="text" [(ngModel)]="myName"/>
  </div>
  <div>
    {{myName}}    
  </div>
</div>